.bg-image{
    width: 100vw;
}
.heading{
    font-family: "roboto";
    color: #183b56;
    padding: 10px;
    margin-left: 40px;
    font-weight: bolder;
    
}
.paraghp{
    font-family: "roboto";
    color: #5a7184;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;


}